<header class="position-fixed top-0 w-100">
	<div class="container mx-auto w-100">
		<nav class="navbar navbar-expand-lg bg-transparent py-3 mx-4">
			<a
				class="navbar-brand rounded-1 primary-color"
				href="/"
			>
			</a>
			<!-- [START] - action button in mobile view -->
			<button
				class="navbar-toggler border-0"
				type="button"
				data-bs-toggle="offcanvas"
				data-bs-target="#navbar__mobile"
				aria-controls="navbar__mobile"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- [END] - action button in mobile view -->

			<!-- [START] - navbar in mobile view -->
			<div
				class="offcanvas offcanvas-end w-50 d-lg-none"
				data-bs-scroll="true"
				tabindex="-1"
				data-bs-backdrop="true"
				id="navbar__mobile"
				aria-labelledby="navbar__mobileLabel"
			>
				<div class="offcanvas-header">
					<a
						href="/"
						class="nav-link"
					>
						<h5
							class="offcanvas-title fw-bold"
							id="navbar__mobileLabel"
						>
							BCR
						</h5>
					</a>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="offcanvas"
						aria-label="Close"
					></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
						<li class="nav-item">
							<a
								class="nav-link"
								href="#our_services"
								>Our Services</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								href="#why_us"
								>Why Us</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								href="#testimonial"
								>Testimonial</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link"
								href="#faq"
								>FAQ</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link py-2 px-2 rounded-1 success-color fw-bold w-50 text-center"
								href="#"
								>Register</a
							>
						</li>
					</ul>
				</div>
			</div>
			<!-- [END] - navbar in mobile view -->

			<!-- [START] - navbar in desktop view -->
			<div
				class="collapse navbar-collapse"
				id="navbar__desktop"
			>
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-4">
					<li class="nav-item">
						<a
							class="nav-link"
							href="#our_services"
							>Our Services</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="#why_us"
							>Why Us</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="#testimonial"
							>Testimonial</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link"
							href="#faq"
							>FAQ</a
						>
					</li>
					<li class="nav-item">
						<a
							class="nav-link py-2 px-4 rounded-1 success-color fw-bold"
							href="#"
							>Register</a
						>
					</li>
				</ul>
			</div>
			<!-- [END] - navbar in desktop view -->
		</nav>
	</div>
</header>
